html {
    height: 100%;
}

body{
  font-family: 'Cutive Mono', monospace;
  background-color: #D9D9D9;
  margin:0;
  height: 100%;
}

.phone{
  display:none;
}

.desk{
  display:block;
}

.nav{
  position: absolute;
}

.nav p{
  margin-left: 4vw;
  margin-top:4vw;
}

.nav #name{
  font-weight: bolder;
  margin-left: 4vw;
  margin-top:4vw;
}

#name:hover{
  text-decoration: none;
  color:black;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover{
  color:#FF5400;
}

ul{
  list-style: none;
  margin:3vw;
  margin-top:2vw;
}

li{
  margin-bottom: 0.7vw;
}

.main{
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 80%;
  height:100%;
  float: right;
  overflow: hidden;
  display: table;
  display:none;
}

#content{
  margin: 7vw;
}

#intro{
  display: table;
}

#drpdown1{
  display:none;
  margin-left:2vw;
}
